<style>
    footer {
        min-height: 10vh;
        font-size: 1em;
        background-color: #f8f9fa;
        display: flex;
        align-items: flex-end;
        font-family: "PT Sans", sans-serif;
    }

    footer .col {
        margin-top: 5vh;
        margin-bottom: 5vh;

    }

    .foot-brand {
        text-decoration: none !important;
        color: var(--blueAccent);
        padding: 1vh;
        font-size: 1.5em;
    }

    .foot-logo {
        background-image: url('/images/ico/logo-cropped.png');
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;

        width: 4em;
        height: 4em;
    }

    .socmed {
        min-width: 3em;
        height: 3em;
        display: inline-block;
        background: url('/images/ico/socmed-sprites.png');
        background-repeat: no-repeat;
        background-size: 200px 140px;
    }

    #ic-fb {
        background-position: 3% 0%;
    }

    #ic-ig {
        background-position: 97.5% 0%;
    }

    #ic-x {
        background-position: 35.5% 1%;
    }

    .copyright {
        background-color: #003764;
        width: 100%;
        color: white;
        display: block;
        font-family: "PT Sans", sans-serif;
        padding: 1vh;
        text-align: center;
        margin: 0 !important;
    }

    .right-side {
        display: flex;
        align-items: flex-start;
        border-left: 0.1em solid #3A7157;
        flex-direction: column;
    }

    @media (max-width: 768px) {

        .right-side {
            border-left: none;
        }

        .container {
            max-width: 90% !important;
        }
    }
</style>

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col" style="text-align: right; padding-right: 2vh;">
                <span style="font-family: var(--font-logo-text);
                font-weight: 600; font-size: 1.75em; ">
                    Contact Us
                </span>
                <br><br>

                {{email}}<br>
                {{phone}}<br>
                <br><br>

                <a href="{{facebook}}">
                    <div class="socmed" id="ic-fb"></div>
                </a>
                <a href="{{instagram}}">
                    <div class="socmed" id="ic-ig"></div>
                </a>
                <a href="{{twitter}}">
                    <div class="socmed" id="ic-x"></div>
                </a>
            </div>

            <div class="col right-side">

                <div style="display: flex; align-items: center;">
                    <div class="foot-logo">
                    </div>

                    <a class="foot-brand" href="#">
                        <span style="
                        font-family: var(--font-button-text); 
                        font-weight: 800;">
                            Pearl S. Buck
                        </span>
                        <span style="
                        font-family: var(--font-logo-text);">
                            Philippines
                        </span>
                    </a>
                </div>

                <div class="col" style="margin: 1em; width: 50%;">
                    {{aboutUs}}
                </div>
            </div>
        </div>

        <div class="row">
        <div class="copyright col">
            &copy; 2023 Pearl S. Buck Philippines, All Rights Reserved
        </div></div>
    </div>

</footer>