<!-- This view serves as the main template for all "Admin: Add" and "Admin: Edit" pages on the admin view -->

<!-- Add both modals for required fields and errors. -->
{{> admin_modal_required}}
{{> admin_modal_error}}

<!-- Add the top header depending on the type of element being added/edited. -->
{{#includes type "project" "child" "event" "newsletter" "staff" "trustee"}}
<h1 class="admin-h1">{{cap action}} {{cap type}}</h1>
{{/includes}}
{{#includes type "other"}}
<h1 class="admin-h1">Configure {{cap type}}s</h1>
{{/includes}}

<!-- Add the form for adding/editing the element. -->
<form id="adminForm" enctype='multipart/form-data'>
    <div class="container">

        <!-- Add the 'Name' field to the form when applicable. -->
        {{#includes type "project" "child" "event" "newsletter" "staff" "trustee"}}
        <div class="row">
            <div class="col-12">
                <label class="h3 admin-h3" for="name">{{cap type}} Name</label>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input type="text" id="name" class="admin-add-edit-input" name="name" required>
            </div>
        </div>
        {{/includes}}

        
        <!-- Add the 'Position' field to the form when applicable. -->
        {{#includes type "staff" "trustee"}}
        <div class="row">
            <div class="col-12">
                <label class="h3 admin-h3" for="position">Position</label>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input type="text" id="position" class="admin-add-edit-input" name="position" required>
            </div>
        </div>
        {{/includes}}

        <!-- Add the 'Description' field to the form when applicable. -->
        {{#includes type "project" "child"}}
        <div class="row">
            <div class="col-12">
                <label class="h3 admin-h3" for="name">Description</label>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <textarea class="admin-add-edit-input admin-add-edit-input-description" id="description"
                    name="description" rows="4" cols="50" required></textarea>
            </div>
        </div>
        {{/includes}}

        <!-- Add the 'Category' and 'Status' fields to the form when applicable. -->
        <div class="row">
            {{#includes type "project" "newsletter" "event"}}
            <div class="col-12 col-md-4">
                <label class="h3 admin-h3" for="category">Category</label>
                <select id="category" class="admin-add-edit-input" name="category" required>
                    <option value="Health">Health</option>
                    <option value="Education">Education</option>
                    <option value="Livelihood">Livelihood</option>
                    <option value="Psychosocial">Psychosocial</option>
                </select>
            </div>
            <div class="col-12 col-md-4">
                <label class="h3 admin-h3" for="status">Status</label>
                <select id="status" class="admin-add-edit-input" name="status" required>
                    <option value="Past">Past</option>
                    <option value="Ongoing">Ongoing</option>
                    <option value="Upcoming">Upcoming</option>
                </select>
            </div>
            {{/includes}}

            <!-- Add the 'Grade Level' field to the form when applicable (only if type is 'Child'). -->
            {{#includes type "child"}}
            <div class="col-12 col-md-4">
                <label class="h3 admin-h3" for="gradelevel">Grade Level</label>
                <input type="text" id="gradelevel" class="admin-add-edit-input" name="gradelevel" required>
            </div>
            <div class="col-12 col-md-4">
                <label class="h3 admin-h3" for="birthdate">Birthdate</label>
                <input type="date" id="birthdate" class="admin-add-edit-input" name="birthdate" required>
            </div>
            {{/includes}}

            <!-- Add the 'Location' field to the form when applicable. -->
            {{#includes type "project" "child" "event"}}
            <div class="col-12 col-md-4">
                <label class="h3 admin-h3" for="location">Location</label>
                <input type="text" id="location" class="admin-add-edit-input" name="location" required>
            </div>
            {{/includes}}
        </div>

        <!-- Add the 'Raised Donations' and 'Required Budget' fields to the form when applicable (only if type is 'Project'). -->
        {{#includes type "project"}}
        <div class="row">
            <div class="col-12 col-sm-6">
                <label class="h3 admin-h3" for="raisedDonations">Raised Donations (₱)</label>
                <input type="number" id="raisedDonations" class="admin-add-edit-input" name="raisedDonations"
                    required>
            </div>
            <div class="col-12 col-sm-6">
                <label class="h3 admin-h3" for="requiredBudget">Required Budget (₱)</label>
                <input type="number" id="requiredBudget" class="admin-add-edit-input" name="requiredBudget" required>
            </div>
        </div>
        {{/includes}}

        <!-- Add the 'Start Date' and 'End Date' fields to the form when applicable (only if type is 'Event'). -->
        {{#includes type "event"}}
        <div class="row">
            <div class="col-12 col-sm-6">
                <label class="h3 admin-h3" for="startDate">Start Date</label>
                <input type="date" id="startDate" class="admin-add-edit-input" name="startDate"
                    required>
            </div>
            <div class="col-12 col-sm-6">
                <label class="h3 admin-h3" for="endDate">End Date</label>
                <input type="date" id="endDate" class="admin-add-edit-input" name="endDate" required>
            </div>
        </div>
        {{/includes}}

        <!-- Add the 'Photo' field to the form when applicable. -->
        {{#includes type "project" "child" "event"}}
        <div class="row">
            <label class="h3 admin-h3" for="mainPhoto">Photo</label>
            <input type="file" id="mainPhoto" class="admin-add-edit-input-photo" name="mainPhoto" accept="image/*"
                {{#includes action "add"}}required{{/includes}}>
        </div>
        <!-- Add the preview display of the photo when applicable. -->
        <div class="row">
            <div class="admin-photo-display">
                <img id="mainPhotoDisplay" style="display: none">
            </div>
        </div>
        {{/includes}}

        <!-- Add the 'Photos' field to the form when applicable (only if type is 'Newsletter'). -->
        {{#includes type "newsletter"}}
        <div class="row">
            <label class="h3 admin-h3 admin-h3-no-bottom" for="photos">Photos</label>
            <label class="h6 admin-h6" for="photos">Please select one or multiple photos at a time once the pop-up opens.</label>
            <input type="file" id="photos" class="admin-add-edit-input-photo" name="photos" accept="image/*" multiple 
                {{#includes action "add"}}required{{/includes}}>
        </div>
        <!-- Add the preview carousel of the photos when applicable. -->
        <div class="row">
            <div id="admin-carousel" class="carousel carousel-dark slide" style="display:none;">
                <div class="carousel-indicators">
                    
                    <button type="button" data-bs-target="#admin-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#admin-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#admin-carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#admin-carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                </div>
        </div>
        {{/includes}}

        <!-- Add all fields needed for the 'Other' type. -->
        {{#includes type "other"}}

        <!-- Add 'About Us' field to the form. -->
        <div class="row">
            <div class="col-12">
                <label class="h3 admin-h3" for="aboutUs">About Us</label>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <textarea class="admin-add-edit-input admin-add-edit-input-description" id="aboutUs"
                    name="aboutUs" rows="2" cols="50" required></textarea>
            </div>
        </div>

        <!-- Add 'Mission' field to the form. -->
        <div class="row">
            <div class="col-12">
                <label class="h3 admin-h3" for="mission">Mission</label>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <textarea class="admin-add-edit-input admin-add-edit-input-description" id="mission"
                    name="mission" rows="1" cols="50" required></textarea>
            </div>
        </div>

        <!-- Add 'Vision' field to the form. -->
        <div class="row">
            <div class="col-12">
                <label class="h3 admin-h3" for="vision">Vision</label>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <textarea class="admin-add-edit-input admin-add-edit-input-description" id="vision"
                    name="vision" rows="1" cols="50" required></textarea>
            </div>
        </div>

        <!-- Add 'Frontpage: Projects Description' field to the form. -->
        <div class="row">
            <div class="col-12">
                <label class="h3 admin-h3" for="projectsDescription">Frontpage: Projects Description</label>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <textarea class="admin-add-edit-input admin-add-edit-input-description" id="projectsDescription"
                    name="projectsDescription" rows="2" cols="50" required></textarea>
            </div>
        </div>

        <!-- Add 'Frontpage: Events Description' field to the form. -->
        <div class="row">
            <div class="col-12">
                <label class="h3 admin-h3" for="newsletterDescription">Frontpage: Newsletter Description</label>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <textarea class="admin-add-edit-input admin-add-edit-input-description" id="newsletterDescription"
                    name="newsletterDescription" rows="2" cols="50" required></textarea>
            </div>
        </div>

        <!-- Add 'Email Address' field to the form. -->
        <div class="row">
            <div class="col-12">
                <label class="h3 admin-h3" for="email">Email Address</label>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input type="text" id="email" class="admin-add-edit-input" name="email" required>
            </div>
        </div>

        <!-- Add 'Facebook Link' field to the form. -->
        <div class="row">
            <div class="col-12">
                <label class="h3 admin-h3" for="facebook">Facebook Link</label>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input type="text" id="facebook" class="admin-add-edit-input" name="facebook" required>
            </div>
        </div>

        <!-- Add 'Instagram Link' field to the form. -->
        <div class="row">
            <div class="col-12">
                <label class="h3 admin-h3" for="instagram">Instagram Link</label>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input type="text" id="instagram" class="admin-add-edit-input" name="instagram" required>
            </div>
        </div>

        <!-- Add 'Twitter Link' field to the form. -->
        <div class="row">
            <div class="col-12">
                <label class="h3 admin-h3" for="twitter">Twitter Link</label>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input type="text" id="twitter" class="admin-add-edit-input" name="twitter" required>
            </div>
        </div>

        <!-- Add 'Physical Address' field to the form. -->
        <div class="row">
            <div class="col-12">
                <label class="h3 admin-h3" for="address">Physical Address</label>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input type="text" id="address" class="admin-add-edit-input" name="address" required>
            </div>
        </div>

        <!-- Add 'Phone Number' field to the form. -->
        <div class="row">
            <div class="col-12">
                <label class="h3 admin-h3" for="phone">Phone Number</label>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input type="text" id="phone" class="admin-add-edit-input" name="phone" required>
            </div>
        </div>

        <!-- Add 'About Us: Our Founder' field to the form. -->
        <div class="row">
            <div class="col-12">
                <label class="h3 admin-h3" for="ourFounder">About Us: Our Founder</label>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <textarea class="admin-add-edit-input admin-add-edit-input-description" id="ourFounder"
                    name="ourFounder" rows="4" cols="50" required></textarea>
            </div>
        </div>

        <!-- Add 'About Us: The Philippine Journey' field to the form. -->
        <div class="row">
            <div class="col-12">
                <label class="h3 admin-h3" for="philippineJourney">About Us: The Philippine Journey</label>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <textarea class="admin-add-edit-input admin-add-edit-input-description" id="philippineJourney"
                    name="philippineJourney" rows="4" cols="50" required></textarea>
            </div>
        </div>

        <!-- Add 'About Us: We Believe' field to the form. -->
        <div class="row">
            <div class="col-12">
                <label class="h3 admin-h3" for="weBelieve">About Us: We Believe</label>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <textarea class="admin-add-edit-input admin-add-edit-input-description" id="weBelieve"
                    name="weBelieve" rows="2" cols="50" required></textarea>
            </div>
        </div>

        <!-- Add 'About Us: Health Description' field to the form. -->
        <div class="row">
            <div class="col-12">
                <label class="h3 admin-h3" for="aboutHealth">About Us: Health Description</label>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <textarea class="admin-add-edit-input admin-add-edit-input-description" id="aboutHealth"
                    name="aboutHealth" rows="2" cols="50" required></textarea>
            </div>
        </div>

        <!-- Add 'About Us: Education Description' field to the form. -->
        <div class="row">
            <div class="col-12">
                <label class="h3 admin-h3" for="aboutEducation">About Us: Education Description</label>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <textarea class="admin-add-edit-input admin-add-edit-input-description" id="aboutEducation"
                    name="aboutEducation" rows="2" cols="50" required></textarea>
            </div>
        </div>

        <!-- Add 'About Us: Livelihood Description' field to the form. -->
        <div class="row">
            <div class="col-12">
                <label class="h3 admin-h3" for="aboutLivelihood">About Us: Livelihood Description</label>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <textarea class="admin-add-edit-input admin-add-edit-input-description" id="aboutLivelihood"
                    name="aboutLivelihood" rows="2" cols="50" required></textarea>
            </div>
        </div>

        <!-- Add 'About Us: Psychosocial Description' field to the form. -->
        <div class="row">
            <div class="col-12">
                <label class="h3 admin-h3" for="aboutPsychosocial">About Us: Psychosocial Description</label>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <textarea class="admin-add-edit-input admin-add-edit-input-description" id="aboutPsychosocial"
                    name="aboutPsychosocial" rows="2" cols="50" required></textarea>
            </div>
        </div>

        <!-- Add 'Frontpage Photo' field to the form. -->
        <div class="row">
            <label class="h3 admin-h3" for="frontpagePhoto">Frontpage Photo</label>
            <input type="file" id="frontpagePhoto" class="admin-add-edit-input-photo" name="frontpagePhoto" accept="image/*">
        </div>
        <div class="row">
            <div class="admin-photo-display">
                <img id="frontpagePhotoDisplay" style="display: none">
            </div>
        </div>
        {{/includes}}

        <!-- Finally, add the submit button to the form. -->
        <div class="row justify-content-center">
            <button id="submit" class="btn btn-success col-6 col-md-3 col-lg-2">Submit</button>
        </div>
    </div>

    <!-- Add the hidden ID field to the form. -->
    <input type="text" id="id" name="id" style="display:none">
</form>

<script>
    /* Add the event listener for the photo input field to display the preview of the photo when applicable. */
    {{#includes type "project" "child" "event"}}
    document.getElementById("mainPhoto").addEventListener("change", function () {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.addEventListener("load", function () {
                document.getElementById("mainPhotoDisplay").src = this.result;
                document.getElementById("mainPhotoDisplay").style = "";
            });
            reader.readAsDataURL(file);
        }
    });
    {{/includes}}

    /* Add the event listener for the frontpage photo input field to display the preview of the photo when applicable. */
    {{#includes type "other"}}
    document.getElementById("frontpagePhoto").addEventListener("change", function () {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.addEventListener("load", function () {
                document.getElementById("frontpagePhotoDisplay").src = this.result;
                document.getElementById("frontpagePhotoDisplay").style = "";
            });
            reader.readAsDataURL(file);
        }
    });
    {{/includes}}

    /* Add the event listener for the photos input field to display the preview carousel of the photos when applicable. */
    {{#includes type "newsletter"}}
    document.getElementById("photos").addEventListener("change", function () {
        const files = this.files;
        if(files){
            document.getElementsByClassName("carousel-indicators")[0].innerHTML = "";
            document.getElementsByClassName("carousel-inner")[0].innerHTML = "";

            for (let i = 0; i < this.files.length; i++) {
                const reader = new FileReader();
                if(i == 0){
                    document.getElementsByClassName("carousel-indicators")[0].innerHTML += "<button type='button' data-bs-target='#admin-carousel' data-bs-slide-to='" + i + "' aria-label='Slide " + (i + 1) + "' class='active' aria-current='true'></button>";
                }else{
                    document.getElementsByClassName("carousel-indicators")[0].innerHTML += "<button type='button' data-bs-target='#admin-carousel' data-bs-slide-to='" + i + "' aria-label='Slide " + (i + 1) + "'></button>";
                }
                reader.addEventListener("load", function () {
                    if(i == 0){
                        document.getElementsByClassName("carousel-inner")[0].innerHTML += "<div class='carousel-item admin-carousel-item active'><div class='admin-carousel-container'><img src='" + this.result + "'></div></div>";
                    }
                    else{
                        document.getElementsByClassName("carousel-inner")[0].innerHTML += "<div class='carousel-item admin-carousel-item'><div class='admin-carousel-container'><img src='" + this.result + "'></div></div>";
                    }   
                });
                reader.readAsDataURL(this.files[i]);
            }
            document.getElementById("admin-carousel").style = "";
        }
    });
    {{/includes}}

    /* Add the event listener for the submit button to submit the form. */
    document.getElementById("submit").addEventListener("click", async (e) => {
        e.preventDefault();

        /* Start front-end field validation. */
        let valid = true;
        let msg = "Please fill in all the required fields properly before submitting...";

        /* Trim all text input fields. */
        $('input[type="text"]').each(function(){
            this.value = $.trim(this.value);
        });
        $('textarea').each(function(){
            this.value = $.trim(this.value);
        });

        /* Check if all required fields are filled in. */
        $('[required]').each(function () {
            if($(this).attr("type") != "file" && typeof($(this).value) == "string"){
                $(this).val($(this).val().trim());
            }
            if ($(this).is(':invalid') || !$(this).val()) {
                valid = false;
            }
        })

        /* Check if raised donations and required budget are not negative. */
        {{#includes type "project"}}
        if(document.getElementById("raisedDonations").value < 0 || document.getElementById("requiredBudget").value < 0){
            valid = false;
            msg = "Raised donations and required budget cannot be negative..."
        }
        {{/includes}}

        /* Check if child's birthdate is not in the future. */
        {{#includes type "child"}}
        if (document.getElementById("birthdate").value > new Date().toISOString().split('T')[0]) {
            valid = false;
            msg = "Birthdate cannot be in the future..."
        }
        {{/includes}}
        
        /* Check if start date is not after end date. */
        {{#includes type "event"}}
        if (document.getElementById("startDate").value > document.getElementById("endDate").value) {
            valid = false;
            msg = "Start date cannot be after end date..."
        }
        {{/includes}}

        /* If any of the validations failed, show the required fields modal and return. */
        if (!valid) {
            document.getElementById("admin-select-modal-required-body").innerHTML = msg;
            $("#admin-select-modal-required").modal("show");
            return;
        }

        /* If all validations passed, submit the form. */
        {{#includes type "project" "child" "event" "newsletter" "other"}}
        var formData = new FormData(document.getElementById("adminForm"));
        {{/includes}}
        {{#includes type "staff" "trustee"}}
        var object = {};
        var formData = new FormData(document.getElementById("adminForm"));
        formData.forEach((value, key) => object[key] = value);
        var formData = JSON.stringify(object);
        {{/includes}}

        /* If action is 'Add', submit the form to the appropriate 'Add' route. */
        {{#includes action "add"}}
        const res = await fetch("/admin/{{type}}/add", {
            method: "POST",
            body: formData
            {{#includes type "staff" "trustee"}},
            headers: {
                "Content-Type": "application/json"
            }
            {{/includes}}
        })
        {{/includes}}

        /* If action is 'Edit', submit the form to the appropriate 'Edit' route. */
        {{#includes action "edit"}}
        const res = await fetch("/admin/{{type}}/edit", {
            method: "PUT",
            body: formData
            {{#includes type "staff" "trustee"}},
            headers: {
                "Content-Type": "application/json"
            }
            {{/includes}}
        })
        {{/includes}}

        /* Check the response status of the form submission. */
        if (res.status == 200) {
        /* If response status is 200, redirect to the appropriate 'Select' route. */
            {{#includes type "other"}}
            window.location.replace("/admin/menu");
            {{else}}
            window.location.replace("/admin/{{type}}/select");
            {{/includes}}
        } else {
        /* If response status is not 200, show the error modal. */
            $("#admin-select-modal-error").modal("show");
        }
    })

    /* Before the page loads fully, if action is 'Edit', fetch the element's data and populate the form. */
    {{#includes action "edit"}}
    fetch(`/admin/{{type}}/get?id={{id}}`)
        .then(response => response.json())
        .then(element => {
            /* Populate the form with the retrieved element's data. */
            Object.keys(element).forEach(key => {
                switch(key){
                    /* If the key is 'mainPhoto', 'frontpagePhoto', or 'photos', display the photo(s) in the preview. */
                    case "mainPhoto":
                    case "frontpagePhoto":
                        if(element[key] != "N/A"){
                            document.getElementById(key + "Display").src = "/imageByName?name=" + element[key];
                            document.getElementById(key + "Display").style = "";
                        }
                        break;
                    case "photos":
                        document.getElementsByClassName("carousel-indicators")[0].innerHTML = ""
                        document.getElementsByClassName("carousel-inner")[0].innerHTML = ""
                        for (let i = 0; i < element[key].length; i++) {
                            if(i == 0){
                                document.getElementsByClassName("carousel-indicators")[0].innerHTML += "<button type='button' data-bs-target='#admin-carousel' data-bs-slide-to='" + i + "' aria-label='Slide " + (i + 1) + "' class='active' aria-current='true'></button>";
                                document.getElementsByClassName("carousel-inner")[0].innerHTML += "<div class='carousel-item admin-carousel-item active'><div class='admin-carousel-container'><img src='/imageByName?name=" + element[key][i] + "'></div></div>";
                            }else{
                                document.getElementsByClassName("carousel-indicators")[0].innerHTML += "<button type='button' data-bs-target='#admin-carousel' data-bs-slide-to='" + i + "' aria-label='Slide " + (i + 1) + "'></button>";
                                document.getElementsByClassName("carousel-inner")[0].innerHTML += "<div class='carousel-item admin-carousel-item'><div class='admin-carousel-container'><img src='/imageByName?name=" + element[key][i] + "'></div></div>";
                            }
                        }
                        document.getElementById("admin-carousel").style = "";
                        break;

                    /* If the key is '_id', set the value of the hidden ID field. */
                    case "_id":
                        document.getElementById("id").value = element[key];
                        break;

                    /* If the key is 'staffPhoto', '__v', 'age', or 'sponsor', do nothing. */
                    case "staffPhoto":
                    case "__v":
                    case "age":
                    case "sponsor":
                        break;

                    /* If the key is 'startDate', 'endDate', or 'birthdate', split the date from the time and display only the date. */
                    case "birthdate":
                    case "startDate":
                    case "endDate":
                        document.getElementById(key).value = element[key].split('T')[0];
                        break;

                    /* Otherwise, normally display the value of the key. */
                    default: 
                        document.getElementById(key).value = element[key];
                        break;
                }
            });
        });
    {{/includes}}

</script>