{{> admin_modal_confirm}}
{{> admin_modal_error}}

<h1 class="admin-h1">
    {{#includes type "child"}}
    Children
    {{else}}
    {{cap type}}s
    {{/includes}}
</h1>
<div class="admin-add-outer-container">
    <a href="/admin/{{type}}/add" class="admin-add-container">
        <span class="admin-add-inner-container">
            <img src="/images/ico/add.png" class="admin-add-icon">
            <h3 class="admin-h3">Add a New {{cap type}}</h3>
        </span>
    </a>
</div>
{{#includes type "staff"}}
<div class="admin-add-outer-container">
    <a href="/admin/{{type}}/edit-group" class="admin-add-container" style="margin:10px auto;">
        <span class="admin-add-inner-container">
            <img src="/images/ico/edit.png" class="admin-edit-icon">
            <h3 class="admin-h3">Edit Group Photo</h3>
        </span>
    </a>
</div>
{{/includes}}
<div class="row justify-content-center align-items-center admin-select-search">
    <div class="col-lg-2 col-sm-4">
        <h2 class="admin-h2">Search: </h2>
    </div>
    <div class="col-lg-6 col-sm-8 col-12">
        <input class="admin-select-input" type="text" id="search" placeholder="Enter Id or Name...">
    </div>
</div>

<div class="admin-table table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <th scope="row" class="align-middle">{{_id}}</th>
                <td class="align-middle">{{name}}</td>
                <td><a href="/admin/{{../type}}/edit/{{_id}}"><img class="admin-edit-icon"
                            src="/images/ico/edit.png"></a></td>
                <td><img class="admin-delete-icon" src="/images/ico/delete.png"></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>
    const search = document.getElementById("search");
    const rows = document.querySelectorAll("tbody tr");
    const confirmButton = document.getElementById("confirm-button");
    const modalBody = document.getElementById("admin-select-modal-body");

    search.addEventListener("keyup", function (event) {
        const q = event.target.value.toLowerCase();
        rows.forEach((row) => {
            (row.querySelector("td").textContent.toLowerCase().includes(q) || row.querySelector("th").textContent.toLowerCase().includes(q)) ? row.style.display = "table-row" : row.style.display = "none";
        });
    });

    rows.forEach((row) => {
        row.querySelector(".admin-delete-icon").addEventListener("click", function () {
            modalBody.textContent = "Are you sure you want to delete " + row.querySelector("td").textContent + " (Id: " + row.querySelector("th").textContent + ")?";
            confirmClick = async function (e) {
                const res = await fetch("/admin/{{type}}/delete", {
                    method: "DELETE",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ id: row.querySelector("th").textContent })
                });
                if (res.status === 200) {
                    window.location.reload();
                } else {
                    modal.hide();
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    const modalError = new bootstrap.Modal(document.getElementById("admin-select-modal-error"), {});
                    modalError.show();
                }
                e.target.removeEventListener("click", confirmClick);
            };
            confirmButton.addEventListener("click", confirmClick);
            const modal = new bootstrap.Modal(document.getElementById("admin-select-modal"), {});
            modal.show();
        });
    });
</script>