<!-- This view serves as the main template for the the "Admin: Donations" and "Admin: Sponsors" pages. -->


<!-- Add both modals for confirmation and errors. -->
{{> admin_modal_confirm}}
{{> admin_modal_error}}

<!-- Add the main header that displays the page title. -->
<h1 class="admin-h1">
    {{#includes type "child"}}
    Children
    {{else}}
    {{cap type}}s
    {{/includes}}
</h1>

<!-- Add search functionality. -->
<div class="row justify-content-center align-items-center admin-lookup-search">
    <!-- Add the dropdown to select the column to search by. -->
    <div class="col-lg-5 col-md-11">
        <h2 class="admin-h2">Search by column...</h2>
    </div>
    <div class="col-lg-7 col-md-11">
        <select id="filter" class="admin-lookup-input" name="filter" required>
            {{#includes type "sponsor"}}
            <option value="donation-id">Donation Id</option>
            <option value="sponsor-name">Sponsor Name</option>
            <option value="sponsor-email">Sponsor Email</option>
            <option value="phone">Phone Number</option>
            <option value="child-name">Child Name</option>
            <option value="time">Time of Registration</option>
            {{/includes}}
            {{#includes type "donation"}}
            <option value="donation-id">Donation Id</option>
            <option value="donor-name">Donor Name</option>
            <option value="donor-email">Donor Email</option>
            <option value="phone">Phone Number</option>
            <option value="project-name">Project Name</option>
            <option value="time">Time of Donation</option>
            {{/includes}}
        </select>
    </div>

    <!-- Add the search bar to search by a specific term. -->
     <div class="col-lg-5 col-md-11">
        <h2 class="admin-h2">With search term...</h2>
    </div>
    <div class="col-lg-7 col-md-11">
        <input class="admin-lookup-input" type="text" id="search" placeholder="Search Here...">
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2 class="admin-h2 admin-h2-center">Display Details For...</h2>
    </div>
</div>

<!-- Add the checkboxes to select the columns to display. -->
<div class="container admin-filter-container">
    <div class="row">

        <!-- If type is 'Sponsor', display all relevant columns for the selected type. -->
        {{#includes type "sponsor"}}
        <div class="form-check form-switch col-xl-4 col-md-6 col-12">
            <input type="checkbox" class="sponsor-name form-check-input" name="sponsor-name" value="sponsor-name"
                checked>
            <label for="sponsor-name" class="form-check-label admin-filter-label">Sponsor Name</label>
        </div>
        <div class="form-check form-switch col-xl-4 col-md-6 col-12">
            <input type="checkbox" class="sponsor-email form-check-input" name="sponsor-email" value="sponsor-email"
                checked>
            <label for="sponsor-email" class="form-check-label admin-filter-label">Sponsor Email</label>
        </div>
        <div class="form-check form-switch col-xl-4 col-md-6 col-12">
            <input type="checkbox" class="phone form-check-input" name="phone" value="phone" checked>
            <label for="phone" class="form-check-label admin-filter-label">Phone Number</label>
        </div>
        <div class="form-check form-switch col-xl-4 col-md-6 col-12">
            <input type="checkbox" class="payment-method form-check-input" name="payment-method" value="payment-method"
                checked>
            <label for="payment-method" class="form-check-label admin-filter-label">Payment Method</label>
        </div>
        <div class="form-check form-switch col-xl-4 col-md-6 col-12">
            <input type="checkbox" class="amount-donated form-check-input" name="amount-donated" value="amount-donated"
                checked>
            <label for="amount-donated" class="form-check-label admin-filter-label">Amount Donated</label>
        </div>
        <div class="form-check form-switch col-xl-4 col-md-6 col-12">
            <input type="checkbox" class="amount-received form-check-input" name="amount-received"
                value="amount-received" checked>
            <label for="amount-received" class="form-check-label admin-filter-label">Amount Received</label>
        </div>
        <div class="form-check form-switch col-xl-4 col-md-6 col-12">
            <input type="checkbox" class="time form-check-input" name="time" value="time" checked>
            <label for="time" class="form-check-label admin-filter-label">Time of Donation</label>
        </div>
        <div class="form-check form-switch col-xl-4 col-md-6 col-12">
            <input type="checkbox" class="child-id form-check-input" name="child-id" value="child-id" checked>
            <label for="child-id" class="form-check-label admin-filter-label">Child Id</label>
        </div>
        <div class="form-check form-switch col-xl-4 col-md-6 col-12">
            <input type="checkbox" class="child-name form-check-input" name="child-name" value="child-name" checked>
            <label for="child-name" class="form-check-label admin-filter-label">Child Name</label>
        </div>
        {{/includes}}

        <!-- If type is 'Donation', display all relevant columns for the selected type. -->
        {{#includes type "donation"}}
        <div class="form-check form-switch col-xl-4 col-md-6 col-12">
            <input type="checkbox" class="donor-name form-check-input" name="donor-name" value="donor-name" checked>
            <label for="donor-name" class="form-check-label admin-filter-label">Donor Name</label>
        </div>
        <div class="form-check form-switch col-xl-4 col-md-6 col-12">
            <input type="checkbox" class="donor-email form-check-input" name="donor-email" value="donor-email" checked>
            <label for="donor-email" class="form-check-label admin-filter-label">Donor Email</label>
        </div>
        <div class="form-check form-switch col-xl-4 col-md-6 col-12">
            <input type="checkbox" class="phone form-check-input" name="phone" value="phone" checked>
            <label for="phone" class="form-check-label admin-filter-label">Phone Number</label>
        </div>
        <div class="form-check form-switch col-xl-4 col-md-6 col-12">
            <input type="checkbox" class="payment-method form-check-input" name="payment-method" value="payment-method"
                checked>
            <label for="payment-method" class="form-check-label admin-filter-label">Payment Method</label>
        </div>
        <div class="form-check form-switch col-xl-4 col-md-6 col-12">
            <input type="checkbox" class="amount-donated form-check-input" name="amount-donated" value="amount-donated"
                checked>
            <label for="amount-donated" class="form-check-label admin-filter-label">Amount Donated</label>
        </div>
        <div class="form-check form-switch col-xl-4 col-md-6 col-12">
            <input type="checkbox" class="amount-received form-check-input" name="amount-received"
                value="amount-received" checked>
            <label for="amount-received" class="form-check-label admin-filter-label">Amount Received</label>
        </div>
        <div class="form-check form-switch col-xl-4 col-md-6 col-12">
            <input type="checkbox" class="time form-check-input" name="time" value="time" checked>
            <label for="time" class="form-check-label admin-filter-label">Time of Donation</label>
        </div>
        <div class="form-check form-switch col-xl-4 col-md-6 col-12">
            <input type="checkbox" class="project-id form-check-input" name="project-id" value="project-id" checked>
            <label for="project-id" class="form-check-label admin-filter-label">Project Id</label>
        </div>
        <div class="form-check form-switch col-xl-4 col-md-6 col-12">
            <input type="checkbox" class="project-name form-check-input" name="project-name" value="project-name"
                checked>
            <label for="project-name" class="form-check-label admin-filter-label">Project Name</label>
        </div>
        {{/includes}}
    </div>
</div>

<!-- Add the table to display the data. -->
<div class="admin-table table-responsive-xxl">
    <table class="table table-striped table-hover">

        <!-- Add the table headers based on type. -->
        <thead>
            <tr>
                {{#includes type "sponsor"}}
                <th class="donation-id" scope="col">Donation Id</th>
                <th class="sponsor-name" scope="col">Sponsor Name</th>
                <th class="sponsor-email" scope="col">Sponsor Email</th>
                <th class="phone" scope="col">Phone Number</th>
                <th class="payment-method" scope="col">Payment Method</th>
                <th class="amount-donated" scope="col">Amount Donated</th>
                <th class="amount-received" scope="col">Amount Received</th>
                <th class="time" scope="col">Time of Registration</th>
                <th class="child-id" scope="col">Child Id</th>
                <th class="child-name" scope="col">Child Name</th>
                <th scope="col">Delete</th>
                {{/includes}}
                {{#includes type "donation"}}
                <th class="donation-id" scope="col">Donation Id</th>
                <th class="donor-name" scope="col">Donor Name</th>
                <th class="donor-email" scope="col">Donor Email</th>
                <th class="phone" scope="col">Phone Number</th>
                <th class="payment-method" scope="col">Payment Method</th>
                <th class="amount-donated" scope="col">Amount Donated</th>
                <th class="amount-received" scope="col">Amount Received</th>
                <th class="time" scope="col">Time of Donation</th>
                <th class="project-id" scope="col">Project Id</th>
                <th class="project-name" scope="col">Project Name</th>
                <th scope="col">Delete</th>
                {{/includes}}
            </tr>
        </thead>

        <!-- Add the table body based on type. -->
        <tbody>
            {{#includes type "sponsor"}}

            <!-- For each sponsored child, add a row with the relevant data. -->
            {{#each data}}
            <tr>
                <td scope="row" class="align-middle donation-id">{{_id}}</td>
                <td class="align-middle sponsor-name">
                    {{donation.attributes.data.attributes.payments.[0].attributes.billing.name}}</td>
                <td class="align-middle sponsor-email">
                    {{donation.attributes.data.attributes.payments.[0].attributes.billing.email}}</td>
                <td class="align-middle phone">{{none
                    donation.attributes.data.attributes.payments.[0].attributes.billing.phone}}</td>
                <td class="align-middle payment-method">{{cap donation.attributes.data.attributes.payment_method_used}}
                </td>
                <td class="align-middle amount-donated">{{money
                    donation.attributes.data.attributes.payments.[0].attributes.amount}}</td>
                <td class="align-middle amount-received">{{money
                    donation.attributes.data.attributes.payments.[0].attributes.net_amount}}</td>
                <td class="align-middle time">{{unix donation.attributes.data.attributes.paid_at}}</td>
                <td class="align-middle child-id">{{extractId donation.attributes.data.attributes.description}}</td>
                <td class="align-middle child-name">{{extractName donation.attributes.data.attributes.description}}</td>
                <td><img class="admin-delete-icon" src="/images/ico/delete.png"></td>
            </tr>
            {{/each}}
            {{/includes}}

            <!-- For each donation, add a row with the relevant data. -->
            {{#includes type "donation"}}
            {{#each data}}
            <tr>
                <td scope="row" class="align-middle donation-id">{{_id}}</td>
                <td class="align-middle donor-name">
                    {{donation.attributes.data.attributes.payments.[0].attributes.billing.name}}</td>
                <td class="align-middle donor-email">
                    {{donation.attributes.data.attributes.payments.[0].attributes.billing.email}}</td>
                <td class="align-middle phone">{{none
                    donation.attributes.data.attributes.payments.[0].attributes.billing.phone}}</td>
                <td class="align-middle payment-method">{{cap donation.attributes.data.attributes.payment_method_used}}
                </td>
                <td class="align-middle amount-donated">{{money
                    donation.attributes.data.attributes.payments.[0].attributes.amount}}</td>
                <td class="align-middle amount-received">{{money
                    donation.attributes.data.attributes.payments.[0].attributes.net_amount}}</td>
                <td class="align-middle time">{{unix donation.attributes.data.attributes.paid_at}}</td>
                <td class="align-middle project-id">{{extractId donation.attributes.data.attributes.description}}</td>
                <td class="align-middle project-name">{{extractName donation.attributes.data.attributes.description}}
                </td>
                <td><img class="admin-delete-icon" src="/images/ico/delete.png"></td>
            </tr>
            {{/each}}
            {{/includes}}
        </tbody>
    </table>
</div>

<script>
    const search = document.getElementById("search");
    const filter = document.getElementById("filter");
    const rows = document.querySelectorAll("tbody tr");
    const modalBody = document.getElementById("admin-select-modal-body");
    const confirmButton = document.getElementById("confirm-button");

    /* Add functionality to search by column and search by term. */
    const searchEvent = (event) => {
        /* First, retrieve the search term and make it lowercase. */
        const q = document.getElementById("search").value.toLowerCase();

        /* Then, filter all rows by the selected column and display only the rows that contain the search term. */
        rows.forEach((row) => {
            const filter = document.getElementById("filter").value;
            row.querySelector("td." + filter).textContent.toLowerCase().includes(q) ? row.style.display = "table-row" : row.style.display = "none";
        });
    }
    search.addEventListener("keyup", searchEvent);
    filter.addEventListener("change", searchEvent);

    /* Add functionality to select which columns to display. */
    const checkboxes = document.querySelectorAll("input[type=checkbox]");
    checkboxes.forEach((checkbox) => {
        checkbox.addEventListener("change", (event) => {
            const filter = event.target.value;
            const column = document.querySelectorAll("td." + filter + ", th." + filter);
            if (event.target.checked) {
                column.forEach((td) => {
                    td.style.display = "table-cell";
                });
            } else {
                column.forEach((td) => {
                    td.style.display = "none";
                });
            }
        });
    });

    /* Add functionality to delete a row. */
    rows.forEach((row) => {
        row.querySelector(".admin-delete-icon").addEventListener("click", function () {

            /* Configure the modal to display the correct message based on type. */
            const type = "{{type}}";
            if (type == "sponsor") {
                modalBody.textContent = "Are you sure you want to delete sponsorship from " + row.querySelector("td.sponsor-name").textContent + " to " + row.querySelector("td.child-name").textContent + " (Id: " + row.querySelector("td.donation-id").textContent + ")?";
            } else if (type == "donation") {
                modalBody.textContent = "Are you sure you want to delete donation from " + row.querySelector("td.donor-name").textContent + " to " + row.querySelector("td.project-name").textContent + " (Id: " + row.querySelector("td.donation-id").textContent + ")?";
            }

            /* Add the event listener for the confirm button to send the delete request to the server. */
            confirmClick = async function (e) {

                /* Send the delete request to the server. */
                const res = await fetch("/admin/{{type}}/delete", {
                    method: "DELETE",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ id: row.querySelector("td.donation-id").textContent })
                });

                /* Check the response status. */
                if (res.status === 200) {
                    /* If the delete request was successful, reload the page. */
                    window.location.reload();
                } else {
                    /* Otherwise, display the error modal. */
                    modal.hide();
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    const modalError = new bootstrap.Modal(document.getElementById("admin-select-modal-error"), {});
                    modalError.show();
                }
                e.target.removeEventListener("click", confirmClick);
            };
            confirmButton.addEventListener("click", confirmClick);
            const modal = new bootstrap.Modal(document.getElementById("admin-select-modal"), {});
            modal.show();
        });
    });
</script>