<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel2">Register to be a sponsor!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Please fill out all fields to register as a sponsor!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Register to be a sponsor!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="white-space: pre-line">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" id="confirm-button" class="btn btn-primary">Register</button>
      </div>
    </div>
  </div>
</div>

<div class="main-container">

    <div class="info-container" style="max-width:100%">
        {{#if description}}
        <div class="row justify-content-center mx-0" style="width:100%">
            <div class="img-container col-xs-12 col-sm-10 col-md-8 col-lg-6 my-3">
                <img src="/imageByName?name={{mainPhoto}}" class="project-image" style="max-height:50vh;" alt="...">
            </div>
            <div class="text-container col-xs-12 col-sm-10 col-md-8 col-lg-4 my-3">
                <div class="title-container">
                    <h1>{{name}}</h1>
                </div>
                <div class="body-container body-container-project">
                    <p>{{description}}
                    <p>
                </div>
            </div>
        </div>
        {{/if}}
        {{#if gradelevel}}
        <div class="row justify-content-center mx-4" style="width:80%">
            <div class="img-container col-xs-10 col-sm-9 col-md-5 col-lg-4 col-xl-3 my-3">
                <img src="/imageByName?name={{mainPhoto}}" class="project-image" style="max-height:50vh;" alt="...">
            </div>
            <div class="text-container col-xs-10 col-sm-9 col-md-5 col-lg-4 col-lg-3 my-3">
                <div>
                    <div class="title-container">
                        <h1>{{name}}</h1>
                    </div>
                    <div class="body-container">
                        <p>Age: {{age}}<br>Grade: {{gradelevel}}<br>Location: {{location}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
    {{#if description}}
    <div class="donation-container">
        <div class="container align-items-center">
            <div class="row justify-content-center mx-4 align-items-center">
                <label for="quantity" class="donation-label col-sm-11">Donation Amount (₱)</label>
                <input type="number" id='amount' class="quantity col-sm-10 col-lg-5" name="quantity" min="0" step="1000"
                    inputmode="numeric">
            </div>
            <input type="text" id="id" value="{{id}}" hidden></input>
            <input type="text" id="description" value="{{name}} ({{id}})" hidden></input>
        </div>
    </div>
    <div class="button-container">
        <button class="proceed-button my-3" id="proceed-button">
            Proceed to Payment
        </button>
    </div>
    {{/if}}
    {{#if gradelevel}}
    <div class="donation-container">
        <div class="container align-items-center">
            <div class="row justify-content-center mx-4 align-items-center">
                <h1 class="donation-detail-header my-4">Register as a Sponsor!</h1>

                <label for="name" class="donation-label col-sm-11">Full Name</label>
                <input id="name" type="text" class="name col-sm-10 col-lg-5" name="name" required>

                <label for="email" class="donation-label col-sm-11">Email Address</label>
                <input id="email" type="text" class="email col-sm-10 col-lg-5" name="email" required>

                <label for="phone" class="donation-label col-sm-11">Phone Number</label>
                <input id="phone" type="tel" class="phone col-sm-10 col-lg-5" name="phone" inputmode="tel" required>

                <input type="text" id="id" value="{{id}}" hidden>
                <input type="text" id="description" value="{{name}} ({{id}})" hidden>
            </div>
            <div class="button-container">
                <button class="proceed-button my-3" id="proceed-button">
                    Confirm Registration
                </button>
            </div>
            {{/if}}
        </form>
    </div>
</div>
<script>
    {{#if description}}
    document.getElementById('proceed-button').addEventListener('click', async (e) => {
        e.preventDefault();
        const amount = Math.round(document.getElementById('amount').value * 100);
        const description = "Funding for " + document.getElementById('description').value;
        const id = document.getElementById('id').value;
        const res = await fetch('/donate/submit', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ amount, description })
        })
        const data = await res.json();
        window.location.href = data;
    });
    {{/if}}
    {{#if gradelevel}}
            document.getElementById('proceed-button').addEventListener('click', async (e) => {
                e.preventDefault();
                if(document.getElementById('name').value == "" || document.getElementById('email').value == "" || document.getElementById('phone').value == "") {
                    let registerModal = new bootstrap.Modal(document.getElementById('staticBackdrop2'), {
                        keyboard: false
                    })
                    registerModal.show();
                    return;
                }
                var registerModal = new bootstrap.Modal(document.getElementById('staticBackdrop'), {
                    keyboard: false
                })
                document.getElementsByClassName('modal-body')[1].innerHTML = "By clicking the Register button, you agree to be contacted by Pearl S. Buck Foundation Philippines for further details regarding your sponsorship.\n\nFurthermore, please ensure that the following information provided is true and accurate...\nFull Name: " + document.getElementById('name').value + "\nEmail Address: " + document.getElementById('email').value + "\nPhone Number: " + document.getElementById('phone').value + "\n\nIf you agree, click Register and become an official sponsor!";
                registerModal.show();
            });
            document.getElementById("confirm-button").addEventListener('click', async (e) => {
                e.preventDefault();
                const name = document.getElementById('name').value;
                const email = document.getElementById('email').value;
                const phone = document.getElementById('phone').value;
                const id = document.getElementById('id').value;
                const res = await fetch('/donate/register', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ name, email, phone, id })
                })
                const data = await res.json();
                window.location.href = data;
            })
    {{/if}}
</script>