<div class="landing-bg" style="background-image: linear-gradient(to bottom, rgba(0, 42, 62, 0.65), rgba(0, 56, 38, 0.8)), url('/imageByName?name={{index.frontpagePhoto}}')">
    <h1 id="landing-title">Realizing Dreams. Changing Lives.</h1>
</div>

<div class="landing-about" style="">
    <div class="row">
        <div class="col">
            <h1>About Us</h1>
            <p>{{index.aboutUs}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Mission</h1>
             <p>{{index.mission}}</p>
        </div>
        <div class="col">
            <h1>Vision</h1>
            <p>{{index.vision}}</p>
        </div>
    </div>
</div>

<div class="landing-news">
    <div class="row index-row align-items-center">
        <div class="col-md-5 col-12" style="margin:auto">
            <h1 style="margin-top:20px">Latest News</h1>
             <p>{{index.newsletterDescription}}</p>
            <br>
            <a class="btn btn-light" href="/newsletter/explore" style="margin-bottom:15px;">Explore Our Newsletter!</a>
        </div>

        <div class="col-md-7 col-12">
            <div id="index-newsletter-carousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {{#each newsletter}}
                    <button class="carousel-button index-newsletter-carousel-button" type="button" data-bs-target="#index-newsletter-carousel" data-bs-slide-to="{{@index}}"
                    aria-label="Slide {{inc @index}}"></button>
                    {{/each}}
                </div>
                <div class="carousel-inner rounded-5">
                    {{#each newsletter}}
                    <div class="carousel-item index-carousel-item index-carousel-item-newsletter">
                        <div class="index-carousel-item-container">
                            <img src="/imageByName?name={{photos.[0]}}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    {{/each}}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#index-newsletter-carousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#index-newsletter-carousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="landing-about" style="width: 100% !important; text-align: right;">

    <div class="row index-row align-items-center">
        <div class="col-md-7 col-12">
            <div id="carouselExampleIndicators1" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {{#each projects}}
                    <button class="carousel-button index-projects-carousel-button" type="button" data-bs-target="#index-newsletter-carousel" data-bs-slide-to="{{@index}}"
                    aria-label="Slide {{inc @index}}"></button>
                    {{/each}}
                </div>
                <div class="carousel-inner rounded-5">
                    {{#each projects}}
                    <div class="carousel-item index-carousel-item index-carousel-item-projects">
                        <div class="index-carousel-item-container">
                            <img src="/imageByName?name={{mainPhoto}}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    {{/each}}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="col-md-5 col-12 index-text-left" style="margin:auto">
            <h1>Current Projects</h1>
            <p>{{index.projectsDescription}}</p>
            <br>
            <a class="btn btn-primary" href="/project/explore">Explore Our Projects!</a>
        </div>
    </div>
</div>

<script>
    if(document.getElementsByClassName("index-carousel-item-newsletter")[0])
       document.getElementsByClassName("index-carousel-item-newsletter")[0].classList.add("active");
    if(document.getElementsByClassName("index-carousel-item-projects")[0])
        document.getElementsByClassName("index-carousel-item-projects")[0].classList.add("active");
    if(document.getElementsByClassName("index-newsletter-carousel-button")[0])
        document.getElementsByClassName("index-newsletter-carousel-button")[0].classList.add("active");
    if(document.getElementsByClassName("index-projects-carousel-button")[0])
        document.getElementsByClassName("index-projects-carousel-button")[0].classList.add("active");
</script>