<style>
  /* Set default margin and paddings to none. */
  * {
    margin: 0;
    padding: 0;
  }

  /* Set background color for entire search panel. */
  .search-panel {
    background-color: #007F55;
    padding: 2%;
    margin: auto;
    overflow: hidden;
  }

  /* Set styling for all buttons in the search panel. */
  .all-btn {
    width: 100%;
    background: white;
    border: 1px #0068A2;
    box-shadow: 0px 2px 0 darken(blue, 5%), 2px 4px 6px darken(blue, 2%);
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 22px;
    transition: all 150ms linear;
    color: #007F55;
  }

  .sub-btns {
    width: 100%;
    height: 100%;
    background: white;
    border: 1px #0068A2;
    box-shadow: 0px 2px 0 darken(blue, 5%), 2px 4px 6px darken(blue, 2%);
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 22px;
    transition: all 150ms linear;
    color: #007F55;
  }

  .btn-col {
    margin-top: 1.5% !important;
  }

  .all-btn:hover {
    background: #0068A2;
    border: 1px solid rgba(#000, .05);
    box-shadow: 1px 1px 2px rgba(#fff, .2);
    color: white;
    text-decoration: none;
    text-shadow: -1px -1px 0 darken(blue, 9.5%);
    transition: all 200ms linear;
  }

  .sub-btns:hover {
    background: #0068A2;
    border: 1px solid rgba(#000, .05);
    box-shadow: 1px 1px 2px rgba(#fff, .2);
    color: white;
    text-decoration: none;
    text-shadow: -1px -1px 0 darken(blue, 9.5%);
    transition: all 200ms linear;
  }

  .all-btn.active {
    background: #0093e1;
    border: 1px solid rgba(#000, .05);
    box-shadow: 1px 1px 2px rgba(#fff, .2);
    color: white;
    text-decoration: none;
    text-shadow: -1px -1px 0 darken(blue, 9.5%);
    transition: all 200ms linear;
  }

  .sub-btns.active {
    background: #0093e1;
    border: 1px solid rgba(#000, .05);
    box-shadow: 1px 1px 2px rgba(#fff, .2);
    color: white;
    text-decoration: none;
    text-shadow: -1px -1px 0 darken(blue, 9.5%);
    transition: all 200ms linear;
  }

  button {
    background: transparent;
    border: 0;
    outline: 0;
  }

  button .fa-solid {
    width: 25%;
    color: #555;
    font-size: 22px;
    flex: 1;
  }

  /* Set styling for the search box. */
  .search-box {
    width: 100%;
    background: #fff;
    border-radius: 5px;
  }

  .search-row {
    display: flex;
    align-items: center;
    margin: 15px 0;
    padding: 0px 20px;
  }

  .form-control {
    width: 200%;
    flex: 1;
    background: transparent;
    border: 0;
    outline: 0;
    color: #333;
  }

  .search-row .col:last-child {
    text-align: end;
  }

  /* Set styling for the elements to the displayed. */
  .search-white {
    width: 80%;
    margin: auto;
    padding-top: 5%;
  }

  .search-col {
    text-align: center;
    border-radius: 2%;
    margin-bottom: 5%;
    position: relative;
    overflow: hidden;
  }

  .search-col img {
    width: 100%;
    display: block;
  }

  .layer {
    border: 3px solid #007F55;
    background-color: transparent;
    height: 100%;
    width: 100%;
    transition: 0.3s;
    min-height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }

  @media (max-width: 992px) {
    .layer {
      min-height: 25vh;
    }
  }

  @media (min-width: 1200px) {
    .layer {
      min-height: 30vh;
    }
  }

  @media (min-width: 1400px) {
    .layer {
      min-height: 35vh;
    }
  }

  .layer:hover {
    border: 4px solid #0082CA;
    opacity: 0.8;
  }

  .layer h3 {
    width: 100%;
    font-weight: 800;
    color: #ffffff;
    font-size: 26px;
    transform: translateY(200%);
    transition: 0.5s;
    opacity: 0;
  }

  .layer:hover h3 {
    transform: translateX(0%);
    opacity: 1;
  }

  .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    height: 100%;
    transition: 0.3s;
  }

  .overlay:hover {
    background-color: #007F55;
    opacity: 0.8;
  }

  @media (max-width: 768px) {
    .layer {
      border: 4px solid #0082CA;
      opacity: 1;
    }

    .layer h3 {
      transform: translateX(0%);
      opacity: 1;
    }

    .overlay {
      background-color: #007F55;
      opacity: 0.75;
    }
  }

  /* Set general styling for each row. */
  .row {
    display: flex;
  }

  @media(max-width: 768px) {
    .row {
      flex-direction: column;
    }

    .row.row-element {
      flex-direction: row;
    }

    .row.search-row {
      flex-direction: row;
      padding: 0 10px;
    }
  }

  /* Set styling for input box. */
  #input-box,
  #input-box::placeholder {
    font-size: 18px;
  }

  /* Hide elements that are not selected by the search and filters. */
  .hidden-search {
    display: none !important;
  }

  .hidden-filters {
    display: none !important;
  }

  /* Set styling for the none message. */
  .none-message {
    animation: fadeInLeft 0.5s ease-in-out;
    color: var(--foreground);
    font-family: var(--font-menu-text);
    font-weight: 500;
    text-align: center;
    margin: 30px 0 90px;
    font-size: 40px;
    text-shadow: 0 10px 10px rgba(0, 40, 75, 0.3);
    display: none;
  }

  /* Define the animations for the page. */
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }

    to {
      opacity: 1;
    }
  }
</style>

<script src="https://kit.fontawesome.com/98624a6b57.js" crossorigin="anonymous"></script>

<!-- Upper section that displays the filter buttons and searchbar. -->
<section class="search-panel">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-9">
        <!-- Add the 'All' button. -->
        <div class="row">
          <div class="col btn-col">
            <button class="btn all-btn">All {{cap type}}s</button>
          </div>
        </div>

        <!-- Add the 'Ongoing', 'Past', and 'Upcoming' buttons. -->
        <div class="row row-bottom">
          <div class="col btn-col">
            <button class="btn sub-btns">Ongoing</button>
          </div>
          <div class="col btn-col">
            <button class="btn sub-btns">Past</button>
          </div>
          <div class="col btn-col">
            <button class="btn sub-btns">Upcoming</button>
          </div>
        </div>

        <!-- Add the 'Education' and 'Health' buttons. -->
        <div class="row row-bottom">
          <div class="col btn-col">
            <button class="btn sub-btns">Education</button>
          </div>
          <div class="col btn-col">
            <button class="btn sub-btns">Health</button>
          </div>
        </div>
        <!-- Add the 'Livelihood' and 'Psychosocial' buttons. -->
        <div class="row row-bottom">
          <div class="col btn-col">
            <button class="btn sub-btns">Livelihood</button>
          </div>
          <div class="col btn-col">
            <button class="btn sub-btns">Psychosocial</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Add the search bar. -->
    <div class="row justify-content-center align-items-center">
      <div class="col-md-8">
        <div class="search-box">
          <div class="row search-row">
            <div class="col">
              <input type="text" name="search" id="input-box" class="form-control" placeholder="Search..."
                autocomplete="off">
            </div>
            <div class="col">
              <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<!-- Lower section that displays the search results. -->
<section class="search-white">
  <div class="container">
    <div class="row row-element">
      <!-- Display a card for each element from the database. -->
      {{#each data}}
      <div class="search-col col-md-6 col-xl-4 search-element {{small category}} {{small status}}">
        <a href="/{{../type}}/view/{{_id}}">

          <!-- If the type is 'Project' or 'Event', display the main photo. -->
          {{#includes ../type "project" "event"}}
          <div class="layer" style="background-image: url('/imageByName?name={{mainPhoto}}');">
            <div class="overlay">
              <h3>{{name}}</h3>
            </div>
          </div>
          {{else}}
          <!-- If the type is 'Newsletter', display the first photo. -->
          <div class="layer" style="background-image: url('/imageByName?name={{photos.[0]}}');">
            <div class="overlay">
              <h3>{{name}}</h3>
            </div>
          </div>
          {{/includes}}
        </a>
      </div>
      {{/each}}
    </div>

    <!-- Display a message if there are no elements to display. -->
    <h2 class="none-message">No {{cap type}}s to Display...</h2>
  </div>
</section>

<script>
  const searchBox = document.querySelector(".search-box input"),
    searchBtn = document.querySelector(".search-box button"),
    inputBox = document.getElementById("input-box"),
    searchElements = document.querySelectorAll(".search-element"),
    filterBtns = document.querySelectorAll(".sub-btns, .all-btn");

  /* Add the search functionality into the searchbox. */
  function search(e) {
    /* First, trim the search term and convert to all lowercase. */
    const searchValue = searchBox.value.trim().toLowerCase();

    /* Check if search term is empty. */
    if (searchValue != "") {
      /* If search term is not empty, hide elements that do not match the search term. */
      searchElements.forEach((element) => {
        if (element.querySelector("h3").innerText.toLowerCase().includes(searchValue)) {
          element.classList.remove("hidden-search");
        } else {
          element.classList.add("hidden-search");
        }
      });
    } else {
      /* If search term is empty, display all elements. */ 
      searchElements.forEach((element) => {
        element.classList.remove("hidden-search");
      });
    }

    /* Toggle the none message depending on whether there are elements to display. */
    if (document.querySelector(".search-element:not(.hidden-search):not(.hidden-filters)") != null) {
      document.querySelector(".none-message").style.display = "none";
    } else {
      document.querySelector(".none-message").style.display = "block";
    }
  }
  searchBox.addEventListener("keyup", search);
  searchBtn.addEventListener("click", search);

  /* Add the filter functionality into the filter buttons. */
  function filter(e) {
    /* First, convert the filter value to all lowercase. */
    const filterValue = e.target.innerText.toLowerCase();

    /* Check if the filter button is already active. */
    if (e.target.classList.contains("active")) {
      /* If filter button is already active, remove the active class and display all elements. */
      e.target.classList.remove("active");
      searchElements.forEach((element) => {
        element.classList.remove("hidden-filters");
      });

      /* Toggle the none message depending on whether there are elements to display. */
      if (document.querySelector(".search-element:not(.hidden-search):not(.hidden-filters)") != null) {
        document.querySelector(".none-message").style.display = "none";
      } else {
        document.querySelector(".none-message").style.display = "block";
      }
      return;
    }

    /* If filter button is not active, remove the active class from all buttons and add it to the clicked button. */
    filterBtns.forEach((btn) => {
      btn.classList.remove("active");
    });
    e.target.classList.add("active");

    /* Check if the filter value is not 'all'. */
    if (!filterValue.startsWith("all")) {
      /* If filter value is not 'all', hide elements that do not match the filter value. */
      searchElements.forEach((element) => {
        if (element.classList.contains(filterValue)) {
          element.classList.remove("hidden-filters");
        } else {
          element.classList.add("hidden-filters");
        }
      });

      /* Toggle the none message depending on whether there are elements to display. */
      if (document.querySelector(".search-element:not(.hidden-search):not(.hidden-filters)") != null) {
        document.querySelector(".none-message").style.display = "none";
      } else {
        document.querySelector(".none-message").style.display = "block";
      }
    } else {
      /* If filter value is 'all', display all elements. */
      searchElements.forEach((element) => {
        element.classList.remove("hidden-filters");
      });

      /* Toggle the none message depending on whether there are elements to display. */
      if (document.querySelector(".search-element:not(.hidden-search), .search-element:not(.hidden-filters)") != null) {
        document.querySelector(".none-message").style.display = "none";
      } else {
        document.querySelector(".none-message").style.display = "block";
      }
    }
  }
  filterBtns.forEach((btn) => {
    btn.addEventListener("click", filter);
  });

  /* Check if there is a filter query in the URL. */
  const urlParams = new URLSearchParams(window.location.search);
  const filterQuery = urlParams.get('filter');

  /* If there is a filter query in the URL, click the corresponding filter button. */
  if (filterQuery) {
    filterBtns.forEach((btn) => {
      if (btn.innerText.toLowerCase().startsWith(filterQuery)) {
        btn.click()
        return;
      }
    });
  }

</script>